 <div class="list">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
           <input type="text" placeholder="Adress">
          </label>
        </div>
        <button class="button button-balanced button-block">
          Search
        </button>  

        <button class="button button-balanced button-block"> 
          GeOSearch
        </button>

        <div class="list list-inset">

          <div class="item item-divider">
            Last Searches
          </div>


          <a class="item item-icon-left" href="#">
          <i class="icon ion-ios-home-outline"></i>
          08001
        </a>

        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-ios-home-outline"></i>
          Av. tibidabo 75, Barcelonaaaaaaaaaaa
          <i class="icon ion-star"></i>
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-ios-home-outline"></i>
          08001
        </a>

        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-home"></i>
          Gran de García, 77.
           <i class="icon ion-star"></i>
        </a>

         <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-home"></i>
          Gran de García, 77.
           <i class="icon ion-star"></i>
        </a>

         <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-home"></i>
          Gran de García, 77.
           <i class="icon ion-star"></i>
        </a>

        </div>

</div>
